/*
    HTML styles
*/
ul
{
   list-style-type:none;
}

/*
    Commented because causes conflicts with jQuery UI
div
{
    height:100%;
    width: 100%;
}*/

body{
    margin:0px;
}

fieldset {
    border: none;
}

th
{
    text-align: left;
}
/*
    Custom classes
*/
.row
{
    display:table-row;
}

.cell
{
    display:inline-block;
    vertical-align:top;
}

.bordered
{
	border: 1px solid #000;
	height:90%;
}

.scrolled
{
    overflow: auto;
}

.text-right
{
    text-align:right;
    padding-right:5px;
}
/*
    Elements properties
*/

#container, #tabs
{
	height:100%;
	width:100%;
	display:inline-table;
	margin: 0 auto;
}
 
#chat-messages
{
    width:79%;
}

#chat-players
{
    width:20%; 
}

#msg
{
    height: 4%;
    width:95%;
}

#game-list
{
    width:79%;
    overflow: auto;
}
#game-details
{
    width:20%;
}

#game,#summary,#score
{
    border: 1px solid black;
}

#game
{
    width:75%;
    height:100%;
    position: relative;
}

#game-info
{
    width:20%;
}

#summary,#score
{
    overflow: auto;
}

