div#game.cell
    div#player1-cards
        p player1 cards
    div#player2-cards
        p player2 cards
    div#player3-cards
        p player3 cards
    div#player4-cards
        p player4 cards
div#game-info.cell
    div#summary
    div#score
        table
            th we
            th they

        
