canvas#game
    p If you're seeing this text it means that your using an older navigator. Please update. We recomend Lastes versions of Mozilla Firefox or Google Chroome.
div#game-info.cell
    div#summary
    div#score
        table
            th we
            th they

        
