html
    head
        script(type="text/javascript",src="/socket.io/socket.io.js")
        script(type="text/javascript",src="/public/jquery-1.7.min.js")
        script(type="text/javascript",src="/public/client.js")
        link(rel="stylesheet",type="text/css",href="/public/style.css")
    body(onLoad="doLoad();")
    #container
        #chat
            ul#message
            form#chat-form(action="javascript:send();")
                input#msg(type="text",value="")
                input#send(type="submit",value="send")
        #games
            ul#game-list
            form#game-form(action="javascript:createGame();")
                input#create(type="submit",value="Create game")
        
