/*
    HTML styles
*/
ul
{
   list-style-type:none;
}

div
{
    height:100%;
    width: 100%;
}

/*
    Custom classes
*/
.row
{
    display:table-row;
}

.cell
{
    display:inline-block;
    vertical-align:top;
}

.bordered
{
	border: 1px solid #ddd;
	height:90%;
}

.scrolled
{
    overflow: auto;
}

/*
    Elements properties
*/

#container, #tabs
{
	height:100%;
	width:100%;
	display:inline-table;
	margin: 0 auto;
}
 
#chat-messages
{
    width:79%;
}

#chat-players
{
    width:20%; 
}

#msg
{
    height: 4%;
    width:95%;
}

#game-list
{
    width:79%;
}
#game-details
{
    width:20%;
}

#game,#summary,#score
{
    border: 1px solid black;
}

#game
{
    width:75%;
}

#game-info
{
    width:20%;
}

#summary,#score
{

    height: 50%;
}



