/*
    HTML styles
*/
ul
{
   list-style-type:none;
}

div
{
    height:100%;
    width: 100%;
}

/*
    Custom classes
*/
.row
{
    display:table-row;
}

.cell
{
    display:inline-block;
    vertical-align:top;
}

.bordered
{
	border: 1px solid #ddd;
	height:90%;
}

.scrolled
{
    overflow: auto;
}

/*
    Elements properties
*/

#container, #tabs
{
	height:100%;
	width:100%;
	display:inline-table;
	margin: 0 auto;
}
 
#chat-messages
{
    width:79%;
}

#chat-players
{
    width:20%; 
}

#msg
{
    height: 4%;
    width:95%;
}

#game-list
{
    width:79%;
}
#game-details
{
    width:20%;
}

#game,#summary,#score
{
    border: 1px solid black;
}

#game
{
    width:75%;
    position: relative;
}

#game-info
{
    width:20%;
}

#summary,#score
{

    height: 50%;
}

#game > div
{
    border: 1px solid black;
}

/******
Div's for positioning all the player cards.
********/

/*Sizes */
#player1-cards,#player3-cards
{
    width:  15%;
    height: 48.5%;
}

#player2-cards
{
    width:  60%;
    height: 18.5%;
}

#player4-cards
{
    width:  85%;
    height: 30%;
}

/*Positions*/
#player1-cards,#player2-cards,#player3-cards,#player4-cards
{
    position:absolute;
}

#player1-cards,#player3-cards
{
    top: 18.5%;
}
#player1-cards
{
    left:0;
}

#player2-cards
{
    top: 0;
    left:20%;
}

#player3-cards
{
    right:0;
}

#player4-cards
{
    bottom: 0;
    left:7%;
}
